body {
	margin-bottom:10px;
	height: 100%;
	font-size: 76%}


html, body, form, p, ul, h2, li, img, input {
	margin:0;
	padding:0
}
td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #003EBC;
}

th
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 3px;
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 3px;
}

h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 3px;
}

a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
/*    text-decoration: none; */
    color: #003EBC;
}

a:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

acronym
{
    border-bottom: 0px;
    cursor: help;
}

form
{
    margin-bottom: 0px;
}
    
input
{
    margin: 0px;
    padding: 1px;
    background-color:white;
    border: 1px solid #b9c4cb;
}   

textarea
{
    margin: 0px; 
    background-color:white;
    border: 1px solid #b9c4cb;
}

.profile_textarea
{
    margin: 1px;
    background-color:white;
    border: 1px dashed #0078bf;
    width: 100%; 
    height: 180px;
}

.image_a
{
    text-decoration: none;
    color: black;
}

.image_a:hover
{
    text-decoration: none;
    color: black;
}
    
.cats_l_a
{
    color: #103060;
    font-size: 11px;
    text-decoration: none;
}   

.cats_l_a:hover
{
    color: #103060;
    font-size: 11px;
    text-decoration: underline;
}
    
.cats_a
{
    color: #537eaf;
    font-size: 11px;
    text-decoration: none;
}   

.cats_a:hover
{
    color: #537eaf;
    font-size: 11px;
    text-decoration: underline;
}

.cat_a
{   
    color: #537eaf;
    font-size: 11px;
    text-decoration: none;
}

.cat_a:hover
{   
    color: #537eaf;
    font-size: 11px;
    text-decoration: underline;
}

.button
{
    margin: 1px;
    padding: 1px;
    background-color: #6699cc;
    border: 1px solid #6699cc;
    font-weight: bold;
    color: white;
}

.button_cancel
{
    margin: 1px;
    padding: 1px;
    background-color: #6699cc;
    border: 1px solid #6699cc;
    font-weight: bold;
    color: white;
}

.button_preview
{
    margin: 1px;
    padding: 1px;
    background-color: #6699cc;
    border: 1px solid #6699cc;
    font-weight: bold;
    color: white;
}

.button_accept
{
    margin: 1px;
    padding: 1px;
    background-color: #66cc77;
    border: 1px solid #66cc77;
    font-weight: bold;
    color: white;
}

.button_red
{
    margin: 1px;
    padding: 1px;
    background-color: #ff3333;
    border: 1px solid #662030;
    font-weight: bold;
    color: white;
}

.radio_button
{
    margin: 1px;
    padding: 1px;
    border: 0px;
    color: white;
}

.normal_black
{
    color: black
}

.normal
{
    color: #333333;
}

div.gal
{
    position: relative;
    width: 100%;
    height: 100%;
}

div.boy
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.profile_head
{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.header_sub
{
    font-size: 15px;
}

.header
{
    font-size: 20px;
}

.error_normal
{
    color: red;
    font-size: 12px;
}

.error_normal:hover
{
    color: red;
    font-size: 12px;
}

.error
{
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.bb_quote
{
    border: 1px solid #ccccf0;
    background-color: white;
    color: #666666;
}

.pager_button_current
{
    background-color: gold;
    border: 1px solid #ccccee;
    font-weight: bold;
    font-size: 11px;
    color: navy;
}

.pager_button
{
/*    background-color: #f0f0f0; */
    border: 1px solid #ffffff;
    font-weight: bold;
    font-size: 11px;
    padding: 0px;
    text-decoration: none;
}

.pager_button:hover
{
    background-color: #ffffff;
    border: 1px solid #ccccee;
    font-weight: bold;
    font-size: 11px;
    color: navy;
    padding: 0px;
}

.order_by
{
    font-size: 13px;
}

    .order_by a
    {
        font-size: 13px;
        text-decoration: none;
    }

    .order_by a:hover
    {
        text-decoration: underline;
    }

    .order_by .active
    {
        font-weight: bold;
    }

.forum_comment_wrapper
{
    position: relative;
    text-align: left;
}

.forum_comment
{
    position: relative;
    overflow: auto;
    text-align: left;
    max-width: 460px;
    max-height: 600px;
    width: 100%;
    text-align: left;
}
.footer_text
{
    text-align: center;
    width: 900px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
}

.bookmark_widget
{ }

.bookmark_widget img
{
     margin-left: 8px;
     border: 0;
}
.opt
{
	color:#FFFFFF;
	border: 1px solid #0070e2; 
	background-color: #ff6e00;
	font-weight:bold;
}